doctype html
html
  head
    title Simple Server
    link(rel='stylesheet', href='/styles.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      document.addEventListener('DOMContentLoaded', function () {
        // Display the IP address
        document.getElementById('ipAddress').innerText = 'Server IP: ' + '#{ip}';
        
        // Add event listeners for ON and OFF buttons
        document.getElementById('onBtn').addEventListener('click', function () {
          sendData('ON');
        });

        document.getElementById('offBtn').addEventListener('click', function () {
          sendData('OFF');
        });

        // Function to send data to the server
        function sendData(data) {
          fetch('/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ action: data }),
          })
            .then(response => response.json())
            .then(data => {
              console.log('Success:', data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      });
  body
    h1 Simple Server Control
    button#onBtn On
    button#offBtn Off
    p#ipAddress  // Display the IP address here
    script(src='/script.js')
